*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "ff-meta-web-pro", sans-serif;
}

p {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 16px;
  padding: 0 6vw;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.75rem;
}

nav {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}

.logo-size {
  width: 10vw;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #A24743;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #555;
}

nav li {
  list-style-type: none;
  font-weight: bold;
}

nav li a {
  text-decoration: none;
  color: #333333;
}

nav li a:hover {
  color: #A24743;
  border-bottom: 1px solid #A24743;
}

.nav-right ul {
  display: block;
}

.nav-right {
  padding-right: 10px;
  padding-top: 2vw;
}

.nav-right ul li {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.nav-footer-spacing {
  padding-right: 4vw;
}

.our-story-div {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}

.our-story-padding {
  padding-top: 20px;
}

.our-story-div h4 {
  text-align: center;
  color: #A24743;
  padding-bottom: 10px;
}

.pine-branch-img {
  width: 90vw;
  display: block;
  margin: 0 auto;
}

.quote-section-border {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 960px;
}

.quote-1 {
  padding: 100px 0 0 0;
  margin: 0 auto;
}

.quote-1 h1 {
  font-family: "ff-meta-web-pro", sans-serif;
  font-size: 1.5rem;
  text-indent: -.5236em;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.quote-1 h3 {
  font-family: "ff-tisa-web-pro", serif;
  padding-left: 50%;
  font-weight: normal;
  font-size: 1rem;
}

.quote-color {
  color: #407056;
}

.quote-icon {
  text-align: center;
  font-size: .5rem;
}

.process-banner {
  background-image: url("images/theprocessbanner.png");
  background-size: cover;
  height: 225px;
  margin: 100px 0;
}

.process-banner h2 {
  vertical-align: middle;
  text-align: center;
  line-height: 225px;
  color: #FFFFFF;
}

.process-section {
  width: 100vw;
}

.process-section object {
  width: 90vw;
  display: block;
  margin: 0 auto;
}

.process-section img {
  width: 100vw;
}

.process-section-div h4 {
  text-align: center;
  padding-bottom: 10px;
}

.process-section-div p {
  padding-top: 10px;
}

.process-right-img {
  width: 100vw;
}

.process-section-div-right {
  width: 100vw
}

.process-section-div-right h4 {
  text-align: center;
}

.process-section-div-right p {
  padding-top: 10px;
}

.quote-icon-2 {
  font-size: 2rem;
  text-align: center;
}

.quote-section-border h1 {
  padding: 0 6vw;
}

.feature-input {
  background-color: #EAEAEA;
}

.feature-input h3 {
  font-size: 1.2rem;
}

#subscribe {
  opacity: 1.0;
  padding: 0 6vw;
}

.enteremail {
  font-family: "ff-meta-web-pro", sans-serif;
  height: 58px;
  word-spacing: 1px;
  padding-top: 1px;
  padding-left: 5vw;
  width: 60%;
  outline: none;
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.signup-button {
  width: 25%;
  font-family: "ff-meta-web-pro", sans-serif;
  height: 55px;
  /* background-color: rgba(22, 182, 234, 0.52); */
  background-color: #A24743;
  /* background-color: #303e49; */
  border: none;
  outline: none;
  position: relative;
  transition: all .5s;
  float: none;
  font-size: 14px;
  border-radius: 0px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
  z-index: 100;
}

.signup-button:hover {
  background-color: #1B3153;
}

label.subscribe-message {
  height: 2.5em;
  padding: 10px 20px;
  color: #fff;
  font-size: 13px;
  float: none;
  top: 0;
  display: block;
}

label.subscribe-message {
  display: none;
}

label.error i {
  color: #16b6ea;
}

.how-it-works-banner {
  background-image: url("images/howitworksbanner.png");
  background-size: cover;
  height: 225px;
  margin: 100px 0;
}

.how-it-works-banner h2 {
  vertical-align: middle;
  text-align: center;
  line-height: 225px;
  color: #FFFFFF;
}

#plan h5 {
  text-align: center;
}

#plan li {
  list-style-type: none;
  text-align: center;
  font-size: 1.25rem;
  color: #333333;
}

.plan-1-img {
  display: flex;
  background-image: url("images/personalcup.png");
  grid-column: 1;
  background-size: cover;
  height: 200px;
  width: 100%;
}

.pricing-div {
  margin: auto;
}

.contain-details {
  margin: auto 0;
  grid-column: 2 / span 2;
  color: #333333;
  padding-left: 5vw;
}

.pricing-p {
  color: #333333;
  padding-top: 10px;
}

.plan-1-img h2 {
  text-align: center;
  color: #FFFFFF;
}

.plan-1-img p {
  text-align: center;
  color: #FFFFFF;
}

.plan-2-img h2 {
  margin: auto 0;
  text-align: center;
  color: #FFFFFF;
}

.plan-2-img p {
  text-align: center;
  color: #FFFFFF;
}

.plan-3-img h2 {
  margin: auto 0;
  text-align: center;
  color: #FFFFFF;
}

.plan-3-img p {
  text-align: center;
  color: #FFFFFF;
}

.plan-2-img {
  background-image: url("images/workuse.png");
  display: flex;
  grid-column: 1;
  background-size: cover;
  height: 200px;
  width: 100%;
}

.plan-3-img {
  background-image: url("images/coffeeshop.png");
  display: flex;
  grid-column: 1;
  background-size: cover;
  height: 200px;
  width: 100%;
}

.end {
  margin: auto 0;
  grid-column: 4 / span 2;
  padding: 10vw;
}

.end .select {
  margin: auto 0;
}

.select .btn {
  font-size: 1.25rem;
}

.btn {
  font-family: "ff-meta-web-pro", sans-serif;
  color: #ffffff;
  font-size: 15px;
  background: #A24743;
  padding: 10px 5px 10px 5px;
  transition: all .5s;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.btn:hover {
  background: #1B3153;
  text-decoration: none;
  color: #ffffff
}

.notes-h3 {
  text-align: center;
  padding-top: 20px;
  max-width: 960px;
  margin: 0 auto;
}

.packaging-banner {
  text-align: center;
  padding: 100px 0 50px 0;
}

.packaging-img img {
  width: 100vw;
}

.packaging-div {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 0 50px 0;
}

.packaging-div h4 {
  text-align: center;
  color: #A24743;
  padding: 0 6vw;
}

.packaging-div p {
  padding-top: 20px;
  color: #333333;
}

.packaging-div object {
  display: block;
  margin: 0 auto;
}

.instagram-banner {
  background-image: url("images/socialmediabanner.png");
  background-size: cover;
  height: 225px;
  margin: 100px 0;
}

.instagram-banner h2 {
  vertical-align: middle;
  text-align: center;
  line-height: 225px;
  color: #FFFFFF;
}

.social-media-section {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.instagram-gallery {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 80vw;
}

.image-margin {
  margin: 0 auto;
}

.image-hover:hover {
  opacity: .5;
}

.social-media-section img {
  width: 80vw;
  padding: 10px;
}

.form {
  width: 90vw;
  margin: auto;
  background: white;
  border-radius: 3px;
  margin-top: 5em;
  margin-bottom: 6em;
  padding: 1.25em;
}

.contact-form-section h2 {
  text-align: center;
  padding: 20px 0;
}

.btn-primary {
  box-shadow: 0;
  border: none;
  background-color: #A24743;
  border-color: #1B3153;
  color: #ffffff;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all .5s;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  width: 30%;
  cursor: pointer;
  text-transform: uppercase;
  margin: auto;
  margin-top: 1.44em;
  margin-bottom: .55em;
  display: inherit;
}

.btn-primary:hover {
  background-color: #1B3153;
}

.form-group {
  position: relative;
  opacity: 1;
  transition: .6s;
}

.input-field-icon {
  color: #A24743;
  font-size: 18px;
  position: absolute;
  right: 10px;
  bottom: 12px;
  transition: .6s;
}

.form-control {
  transition: opacity .6s;
  opacity: 1;
  border: 0;
  border-bottom: 2px solid #bdc3c7;
  border-radius: 0;
  background: white;
  font-size: 18px;
  line-height: 1.467;
  padding: 4px;
  height: 42px;
  -webkit-appearance: none;
}

input, textarea {
  transition: all 800ms;
  font-family: "ff-tisa-web-pro", serif;
  resize: none;
  /* removes the resize handle */
  overflow: auto;
  /* removes default scrolling bars in IE */
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 4px;
  color: #A24743;
  margin-top: 1.25em;
}

.has-error input, .has-error textarea {
  color: #e74c3c;
  border-color: #e74c3c;
}

.has-error .input-field-icon {
  color: #e74c3c;
}

.has-success input, .has-success textarea {
  color: #1B3153;
  border-color: #1B3153;
}

.has-success .input-field-icon {
  color: #1B3153;
}

input:focus, textarea:focus {
  border-color: #1B3153;
  color: #34495e;
}

input:focus+.input-field-icon {
  color: #34495e;
}

textarea.form-control {
  height: 10vw;
  transition: .6s;
}

textarea.form-control:focus {
  height: 20vw;
  border-color: #1B3153;
}

.social-icon-section {
  margin: 0 auto;
  text-align: center;
}

.social-icon-section ul {
  display: inline-flex;
  list-style-type: none;
}

.social-icon-section li {
  padding: 0 20px 50px 20px;
}

.social-icon-section li a {
  text-decoration: none;
  color: #333333;
}

.social-icon-section li a:hover {
  color: #A24743;
}

footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 4vw;
}

footer li {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-right ul {
  display: block;
}

footer li a {
  text-decoration: none;
  color: #333333;
}

footer li a:hover {
  color: #A24743;
  border-bottom: 1px solid #A24743;
}

.footer-uppercase {
  text-transform: uppercase;
}

header img {
  width: 100vw;
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 960px) {
  nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
  }
  .nav-right ul {
    display: inline-flex;
  }
  .logo-size {
    width: 50%;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #A24743;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    border-radius: 50%;
  }
  #myBtn:hover {
    background-color: #555;
  }
  .nav-right {
    padding-right: 25px;
    padding-top: 40px;
  }
  .nav-right ul li {
    font-size: 1.2rem;
  }
  .nav-footer-spacing {
    padding-right: 25px;
  }
  .pine-branch-img {
    width: 800px;
  }
  p {
    font-family: "ff-tisa-web-pro", serif;
    font-size: 18px;
    padding: 0;
  }
  .quote-1 {
    width: 900px;
  }
  .quote-1 h1 {
    padding: 0;
    text-align: left;
    font-size: 2.75rem;
  }
  .quote-1 h3 {
    font-size: 22px;
    padding-left: 60%;
  }
  .process-banner {
    height: 225px;
    margin: 100px 0;
  }
  .process-section {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .process-section object {
    width: 35vw;
  }
  .process-section img {
    width: 50vw;
  }
  .process-left-img {
    grid-column: 1;
    margin-top: -8px;
  }
  .process-section-div {
    margin: auto 0;
    grid-column: 2;
    padding-left: 5vw;
    width: 40vw;
  }
  .process-section-div h4 {
    text-align: center;
    padding-bottom: 10px;
  }
  .process-section-div p {
    padding-top: 10px;
  }
  .process-right-img {
    width: 50vw;
    margin: 0;
    margin-top: -8px;
    grid-column: 2;
    grid-row: 2;
  }
  .process-section-div-right {
    margin: auto 0;
    grid-column: 1;
    grid-row: 2;
    padding-left: 5vw;
    width: 40vw
  }
  .process-section-div-right h4 {
    text-align: center;
  }
  .process-section-div-right p {
    padding-top: 10px;
  }
  .feature-input {
    padding: 40px 0;
    margin-top: 100px;
  }
  .feature-input h3 {
    padding-top: 10px;
    text-align: left;
  }
  #subscribe {
    padding-left: 25%;
    opacity: 1.0 !important;
  }
  .enteremail {
    height: 58px;
    word-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    width: 50%;
  }
  .signup-button {
    width: 15%;
    height: 55px;
  }
  label.subscribe-message {
    height: 2.5em;
    padding: 10px 20px;
  }
  #plan {
    max-width: 960px;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(5, 15vw);
    background-color: #f6f6f6;
    background: -webkit-linear-gradient(left, #efefef, #e6e6e6);
    background: -moz-linear-gradient(left, #efefef, #e6e6e6);
    background: -ms-linear-gradient(left, #efefef, #e6e6e6);
    background: -o-linear-gradient(left, #efefef, #e6e6e6);
    margin: 0 auto;
    margin-bottom: 30px;
  }
  #plan li {
    font-size: 2rem;
    text-align: left;
  }
  #plan h5 {
    font-size: 1rem;
    text-align: left;
  }
  .plan-1-img {
    height: 100%;
    width: 220px;
  }
  .plan-2-img {
    height: 100%;
    width: 220px;
  }

  .plan-3-img {
    height: 100%;
    width: 220px;
  }
  .title {
    -webkit-transition: width .5s;
    /* For Safari 3.1 to 6.0 */
    transition: width .5s;
  }
  .title:hover {
    width: 250px;
  }
  .packaging-div h4 {
    padding: 0;
    text-align: center;
    color: #A24743;
    padding-bottom: 10px;
  }
  .social-media-section img {
    width: 20vw;
    padding: 10px;
  }
  .instagram-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    width: 80vw;
  }
  .form {
    width: 60vw;
    margin: auto;
    background: white;
    border-radius: 3px;
    margin-top: 5em;
    margin-bottom: 6em;
    padding: 1.25em;
  }
  footer {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 4vw;
  }
  .footer-right ul {
    display: inline-flex;
    justify-content: space-between;
  }
}
