*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "ff-meta-web-pro", sans-serif;
}

p {
  font-family: "ff-tisa-web-pro", serif;
}

nav {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}

.logo-size {
  width: 50%;
}

nav p a {
  font-size: 1rem;
}

nav li {
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  color: #333333;
}

nav li a:hover {
  color: #A24743;
  border-bottom: 1px solid #A24743;
}

.nav-right ul {
  display: inline-flex;
}

.nav-right {
  padding-right: 25px;
  padding-top: 40px;
}

.nav-right ul li {
  font-size: 1rem;
  text-transform: uppercase;
}

.nav-footer-spacing {
  padding-right: 25px;
}

footer {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 4vw;
}

footer li {
  list-style-type: none;
  font-size: 1rem;
}

.footer-right ul {
  display: inline-flex;
  justify-content: space-between;
}

footer li a {
  text-decoration: none;
  color: #333333;
}

footer li a:hover {
  color: #A24743;
  border-bottom: 1px solid #A24743;
}

.footer-uppercase {
  text-transform: uppercase;
}

header img {
  width: 100vw;
}




@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 960px) {
}
